<%- include("../partials/header") %>

<h2><%= title %></h2>

<section id="fulfillment-show-page">
    <% if (child.fulfilled.length) { %>
        <table>
          <thead>
            <tr>
              <th>Care Provider</th>
              <th>Date Fulfilled</th>
              <th>Phone</th>
              <th>Details</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <% child.fulfilled.forEach(function(f) { %>
              <tr>
                <td class="fulfillment-user"><%= f.userName %></td>
                <td><%= f.createdAt.toLocaleDateString() %></td>
                <td><%= f.phone %></td>
                <td><%= f.details %></td>
                <td>
                  <% if (user?._id.equals(f.user)) { %>
                    <form action="/fulfillments/<%= f._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn">Delete</button>
                    </form>
                  <% } else { %>
                    Action not available
                  <% } %>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
    <% } %>
    <input onclick="location.href='/children/<%= child._id %>';" class="btn" type="button" value="Back to care request"  />
    <input onclick="location.href='/children';" class="btn" type="button" value="See all care requests"  />
</section>

<%- include("../partials/footer") %>