<%- include("../partials/header") %>

<div>
    <img src="/images/lora-moore-kakaletris-K0lyROlsQ9Q-unsplash.jpg" alt="kids-covering-faces"/>
</div>

<h2><%= title %></h2>

<input onclick="location.href='/children/new';" class="btn" type="button" value="New care request" />

<input onclick="filterSelection('fulfilled-status')" class="btn" type="button" value="Show only unfulfilled"/>

<table id="list">
    <thead>
      <tr>
        <th>Requested By</th>
        <th>Date</th>
        <th>Hours/Duration</th>
        <th>Location</th>
        <th>Fulfilled?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% children.forEach(function(child) { %>
            <tr id="care-request-log">
                <td class="tbl-data"><%= child.userName %></td>
                <td class="tbl-data"><%= child.date.toLocaleDateString('en-US', {timeZone: 'UTC'}) %></td>
                <td class="tbl-data"><%= child.time %></td>
                <td class="tbl-data"><%= child.location %></td>
                <td class="tbl-data" id="fulfilled-status">
                    <% if (child.fulfilled.length) { %>
                        <a href="children/<%= child._id %>/fulfillments">Yes</a>
                    <% } else { %>
                        No
                    <% } %>
                </td>
                <td class="tbl-data"><input onclick="location.href='/children/<%= child._id %>';" class="btn" type="button" value="Details" /></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include("../partials/footer") %>