<%- include("../partials/header") %>

<h2><%= title %></h2>

<input onclick="location.href='/children/new';" class="btn" type="button" value="New care request" />

<label>Show only unfulfilled requests</label>
<input id="unfulfilled-btn" class="btn" type="checkbox" name="unfulfilled" onclick="hide('care-request-log')" unchecked />
<% // if ("unfulfilled-btn" && child.fulfilled.length) { %>
    <% // care-request-log.style.display === "none" %>
<% // } %>

<table id="list">
    <thead>
      <tr>
        <th>Requested By</th>
        <th>Care Type</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Fulfilled?</th>
        <th></th>
      </tr>
    </thead>
    <% // if (children.childCare) { %>
        <tbody>
            <% children.forEach(function(child) { %>
                <tr id="care-request-log">
                    <td class="request-user"><img src="<%= child.userAvatar %>" alt="avatar" referrerpolicy="no-referrer" ><%= child.userName %></td>
                    <td>Child</td>
                    <td><%= child.date.toLocaleDateString() %></td>
                    <td><%= child.time %></td>
                    <td><%= child.location %></td>
                    <td>
                        <% if (child.fulfilled.length) { %>
                            <a href="children/<%= child._id %>/fulfillments">Yes</a>
                        <% } else { %>
                            No
                        <% } %>
                    </td>
                    <td><input onclick="location.href='/children/<%= child._id %>';" class="btn" type="button" value="Details" /></td>
                </tr>
            <% }); %>
        </tbody>
    <% // } %>
    <% // if (pets.petCare) { %>
        <!-- <tbody>
            <% // pets.forEach(function(pet) { %>
                <tr>
                    <td><%= // pet.user %></td>
                    <td>Pet</td>
                    <td><%= // pet.date %></td>
                    <td><%= // pet.time %></td>
                    <td><%= // pet.location %></td>
                    <td><%= // pet.fulfilled %></td>
                    <td><a href="/pets/<%= // pet._id %>">Details</a></td>
                </tr>
            <% // }); %>
        </tbody> -->
    <% // } %> 
</table>

<%- include("../partials/footer") %>