<%- include("../partials/header") %>

<h2><%= title %></h2>

<input onclick="location.href='/children/new';" class="btn" type="button" value="New care request" />

<table id="list">
    <thead>
      <tr>
        <th>Requested By</th>
        <th>Date</th>
        <th>Hours/Duration</th>
        <th>Location</th>
        <th>Fulfilled?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% children.forEach(function(child) { %>
            <tr id="care-request-log">
                <td class="request-user"><%= child.userName %></td>
                <td><%= child.date.toLocaleDateString() %></td>
                <td><%= child.time %></td>
                <td><%= child.location %></td>
                <td id="fulfilled-status">
                    <% if (child.fulfilled.length) { %>
                        <a href="children/<%= child._id %>/fulfillments">Yes</a>
                    <% } else { %>
                        No
                    <% } %>
                    <!-- <% // if (child.fulfilled === "Yes") { %>
                        <script type="text/javascript">
                            const careReqLogEl = document.getElementById("care-request-log");
                            const unfulfilledBtnEl = document.getElementById("unfulfilled-btn");
                            if (unfulfilledBtnEl.checked) {
                                careReqLogEl.style.visibility === "hidden";
                            }
                        </script>
                    <% // } %> -->
                </td>
                <td><input onclick="location.href='/children/<%= child._id %>';" class="btn" type="button" value="Details" /></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include("../partials/footer") %>