<%- include("../partials/header") %>

<h2><%= title %></h2>

    <section id="child-show-page" class="row">
        <div class="column">
            <div class="title div-1">Requested By </div>
            <div class="request-user info div-1"><%= child.userName %></div>
            <div class="title div-2">Date </div>
            <div class="info div-2"><%= child.date.toLocaleDateString('en-US', {timeZone: 'UTC'}) %></div>
            <div class="title div-3">Time </div>
            <div class="info div-3"><%= child.time %></div>
            <div class="title div-4">Location </div>
            <div class="info div-4"><%= child.location %></div>
        </div>
        <div class="column">
            <div class="title div-5">Number of Kids </div>
            <div class="info div-5"><%= child.numOfKids %></div>
            <div class="title div-6">Names & Ages of Kids </div>
            <div class="info div-6"><%= child.namesAgesOfKids %></div>
            <div class="title div-7">Special Instructions </div>
            <div class="info div-7"><%= child.specialInstructions %></div>
            <div class="title div-8">Fulfilled? </div>
            <div class="info div-8">
                <% if (child.fulfilled.length) { %>
                    <a href="/children/<%= child._id %>/fulfillments">Yes</a>
                <% } else { %>
                    No
                <% } %>
            </div>
         </div>
        <% if (child.fulfilled.length || user?._id.equals(child.user)) { %>
            <input style="display: none;" class="btn" type="button" value="Provide care" />
            <% if (user?._id.equals(child.user)) { %>
                <input class="btn" type="button" value="Edit care request" />
                <!-- <form action="/children/ <%= // child._id %>?_method=DELETE" method="POST">
                    <input class="btn" type="button" value="Delete care request" />
                </form> -->
            <% } %>
        <% } else { %>
            <input onclick="location.href='/children/<%= child._id %>/fulfillments/new';" class="btn" type="button" value="Provide care" />
        <% } %>
        <input onclick="location.href='/children';" class="btn" type="button" value="See all care requests" />
    </section>

<%- include("../partials/footer") %>